NEXT_PUBLIC_SERVER_HTTP=http://localhost:5000
NEXT_PUBLIC_SERVER_WS=ws://localhost:5000
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_ENABLE_ANALYTICS=false
NEXT_PUBLIC_TURN_URL=
NEXT_PUBLIC_TURN_USER=
NEXT_PUBLIC_TURN_PASS=
NEXT_PUBLIC_ICE_TRANSPORT_POLICY=all
